@font-face {
    font-family: 'Commissioner';
    src: url(../fonts/Commissioner/Commissioner-Light.eot);
    src: url(../fonts/Commissioner/Commissioner-Light.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Commissioner/Commissioner-Light.woff2) format('woff2'),
         url(../fonts/Commissioner/Commissioner-Light.woff) format('woff'),
         url(../fonts/Commissioner/Commissioner-Light.ttf) format('truetype'),
         url(../fonts/Commissioner/Commissioner-Light.svg#Commissioner-Light) format('svg'),
         url(../fonts/Commissioner/Commissioner-Light.otf) format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: block;
} 
@font-face {
    font-family: 'Commissioner';
    src: url(../fonts/Commissioner/Commissioner-Regular.eot);
    src: url(../fonts/Commissioner/Commissioner-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Commissioner/Commissioner-Regular.otf) format('otf'),
         url(../fonts/Commissioner/Commissioner-Regular.svg#Commissioner-Regular) format('svg'),
         url(../fonts/Commissioner/Commissioner-Regular.ttf) format('truetype'),
         url(../fonts/Commissioner/Commissioner-Regular.woff) format('woff'),
         url(../fonts/Commissioner/Commissioner-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Commissioner';
    src: url(../fonts/Commissioner/Commissioner-Medium.eot);
    src: url(../fonts/Commissioner/Commissioner-Medium.eot?#iefix) format('embedded-opentype'),
            url(../fonts/Commissioner/Commissioner-Medium.woff2) format('woff2'),
            url(../fonts/Commissioner/Commissioner-Medium.woff) format('woff'),
            url(../fonts/Commissioner/Commissioner-Medium.ttf) format('truetype'),
            url(../fonts/Commissioner/Commissioner-Medium.svg#Commissioner-Medium) format('svg'),
            url(../fonts/Commissioner/Commissioner-Medium.otf) format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Commissioner';
    src: url(../fonts/Commissioner/Commissioner-SemiBold.eot);
    src: url(../fonts/Commissioner/Commissioner-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Commissioner/Commissioner-SemiBold.otf) format('otf'),
         url(../fonts/Commissioner/Commissioner-SemiBold.svg#Commissioner-SemiBold) format('svg'),
         url(../fonts/Commissioner/Commissioner-SemiBold.ttf) format('truetype'),
         url(../fonts/Commissioner/Commissioner-SemiBold.woff) format('woff'),
         url(../fonts/Commissioner/Commissioner-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Commissioner';
    src: url(../fonts/Commissioner/Commissioner-Bold.eot);
    src: url(../fonts/Commissioner/Commissioner-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Commissioner/Commissioner-Bold.woff2) format('woff2'),
         url(../fonts/Commissioner/Commissioner-Bold.woff) format('woff'),
         url(../fonts/Commissioner/Commissioner-Bold.ttf) format('truetype'),
         url(../fonts/Commissioner/Commissioner-Bold.svg#Commissioner-Bold) format('svg'),
         url(../fonts/Commissioner/Commissioner-Bold.otf) format('otf');
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'Commissioner';
    src: url(../fonts/Commissioner/Commissioner-ExtraBold.eot);
    src: url(../fonts/Commissioner/Commissioner-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Commissioner/Commissioner-ExtraBold.otf) format('otf'),
         url(../fonts/Commissioner/Commissioner-ExtraBold.svg#Commissioner-ExtraBold) format('svg'),
         url(../fonts/Commissioner/Commissioner-ExtraBold.ttf) format('truetype'),
         url(../fonts/Commissioner/Commissioner-ExtraBold.woff) format('woff'),
         url(../fonts/Commissioner/Commissioner-ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: block;
  }
    
  @font-face {
     font-family: 'lg';
     src: url("../fonts/lg/lg.woff2?io9a6k") format("woff2"),
      url("../fonts/lg//lg.ttf?io9a6k") format("truetype"), 
      url("../fonts/lg//lg.woff?io9a6k") format("woff"), 
      url("../fonts/lg//lg.svg?io9a6k#lg") format("svg");
     font-weight: normal;
     font-style: normal;
     font-display: block;
   }