.page-title{
    line-height: 1.2; 
}
.decor-line{
    background-color: var(--text-color);
    height: 1px;
}
.lg-img-wrap{
    padding-bottom: 0rem;
}
.lg-content{
    top: 0 !important;
}
.section-title{
    margin-bottom: 4rem;
    &--lawyer-color{
        color: var(--lawyer-color);
    }
    &--light-dark{
        color: var(--light-dark);
    }
}
.bat{
    position: fixed; 
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%; 
    transition: all 0ms ease;
    transform: translate(0, 0);
    z-index: 10000;
    svg{
        width: 100%;
        height: auto;
        path{
            transition: all 100ms ease;
        }
    } 
    &--lawyer{
        svg{
            path{ 
                stroke: var(--lawyer-color);
                fill: var(--lawyer-color);
            }
        }
    } 
    &--expert{
        svg{
            path{ 
                stroke: var(--expert-color);
                fill: var(--expert-color);
            }
        }
    } 
    &--light{
        svg{
            path{ 
                stroke: var(--light);
                fill: var(--light);
            }
        }
    } 
} 
*{
    cursor: none !important;
}
.btn{
    display: flex;  
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 1.5rem 2rem;
    font-size: 1.4rem; 
    text-decoration: none;
    min-height: 5.6rem;
    border: 2px solid var(--light-dark);
    background-color: var(--bg-color);
    color: var(--text-color); 
    line-height: 1.1;
    border-radius: 0.5rem;
    transition: all 100ms ease;
    transform: scale(1);
    box-sizing: border-box; 
    &:active{
        transform: scale(0.96);
    }
    
    &--lawyer{
        background-color: var(--lawyer-color);
        border: 2px solid var(--lawyer-color);
        color: var(--light);
        svg{
            path{
                stroke: var(--light); 
            }
        }
    }
    &--expert{
        background-color: var(--expert-color);
        border: 2px solid var(--expert-color);
        color: var(--light);
        svg{
            path{
                stroke: var(--light); 
            }
        }
    }
    &--light{
        background-color: var(--light);
        border: 2px solid var(--light);
        color: var(--expert-color);
    }
    &--upp{
        padding-top: 1.4rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    &--with-elem-left{
        svg{
            margin-right: 1rem;
            transition: var(--great-transition);
        }
    }
    &--with-elem-right{
        svg{
            margin-left: 1rem;
            transition: var(--great-transition);
        }
    }
    &--expert-empty{
        background-color: transparent;
        color: var(--dark);
    }
    &--light-empty{
        background-color: transparent;
        color: var(--light);
    }
    &-burger{ 
        .btn-burger__cross{
            position: relative;
            display: block;
            width: 11px;
            height: 11px;
            margin-right: 1rem;
            span{
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 3px;
                background-color: var(--light);
                transform:  translateY(-50%);
                transition: var(--great-transition);
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--light);
                transition: var(--great-transition);
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--light);
                transition: var(--great-transition);
            }
        }
    }
   
    &:hover{
        text-decoration: none;
    }
    &--disabled{
        opacity: 0.6;
        &:active{
            transform: scale(1);
        }
    }
    &[disabled]{
        opacity: 0.6;
        &:active{
            transform: scale(1);
        }
    }
}
a.btn{
    line-height: 1;
}
.elem-shadow{
    box-shadow: 8px 12px 0 0 var(--shadow-color); 
}
.btn-file{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
    border: 2px dashed var(--expert-color);
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: var(--expert-color);
    box-sizing: border-box;
    cursor: pointer;
    transition: var(--great-transition);

    svg{
        margin-right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        path{
            transition: var(--great-transition);
            fill: var(--expert-color);
            stroke: var(--expert-color);
        }
    }
    &:hover{
        color: var(--lawyer-color);
        border: 2px dashed var(--lawyer-color);
        span{
            background-color: var(--lawyer-color);
        }
    }
    &--open{
        span{
            flex-shrink: 0;
            display: block;
            margin-right: 1rem;
            width: 2.4rem;
            height: 2.4rem;
            background-color: var(--expert-color);
            mask: url(../img/plus.svg) no-repeat center center;
            mask-size: contain;
            transition: var(--great-transition);
        }
        &:hover{
            span{
                background-color: var(--lawyer-color);
            }
        }
    }
    &--upload{
            border: 1px solid var(--expert-color);
            background-color: var(--expert-color);
            color: var(--light);
        span{
            flex-shrink: 0;
            display: block; 
            margin-right: 1rem;
            width: 2.4rem;
            height: 2.4rem;
            background-color: var(--light);
            mask: url(../img/file-upload.svg) no-repeat center center;
            mask-size: contain;
            transition: var(--great-transition);
        }
        &:hover{
            border: 1px solid var(--expert-color);
            color: var(--light);
            span{
                background-color: var(--light);
            }
        }
    }
    &[disabled]{
        opacity: 0.6;
        &:active{
            transform: scale(1);
        }
    }
}

.spoiler .btn-box{ 
    position: relative;
     &--active{
        margin-top: 3rem;
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;

        .btn-file--upload{
            display: flex;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--text-color);
        }
     }
}
.spoiler{
    border: 1px solid var(--text-color);
    background-color: var(--light);  
    padding: 0 3rem;
    box-sizing: border-box;
}

.spoiler__header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 2.9rem 0;
    .spoiler-header__text-box{
        padding-right: 2rem;
        flex-grow: 1;
        text-align: left;
    }
    .spoiler-header__date{
        display: inline-block;
        padding: 0.6rem 0.8rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        line-height: 1;
        background-color: var(--bg-color);
        box-sizing: border-box;
    }
    .spoiler-header__type-event{
        display: inline-block;
        margin-left: 5px;
        padding: 0.6rem 0.8rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        line-height: 1;
        background-color: #E4E8FD;
        font-weight: 500;
        color: var(--expert-color);
        box-sizing: border-box;
    }
    .spoiler-header__number{
        display: block;
        margin-bottom: 1rem;
        color: var(--light-dark);
        font-size: 1.4rem;
        line-height: 1.2; 
    }
    .spoiler-header__caption{
        display: block;
        flex-shrink: 0;
        font-size: 1.8rem;
        line-height: 1.3;
        color: var(--dark);
        font-weight: 500;
        transition: var(--great-transition);
    }
    .spoiler-header__number{
        margin-right: 1rem;
        margin-bottom: 0;
        display: inline-block; 
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        font-weight: inherit; 
    }
    .spoiler-header__arrow{
        transform: scaleY(1);
        transform-origin: center center;
        transition: var(--great-transition);
        svg{
            path{
                stroke: var(--light-dark); 
                transition: var(--great-transition);
            }
        }
    }
    &:hover{
        .spoiler-header__caption{
            color: var(--expert-color);
        }
        .spoiler-header__arrow{
            svg{
                path{
                    stroke: var(--expert-color); 
                }
            }
        }
    }
    &.spoiler-open{
        .spoiler-header__caption{
            color: var(--expert-color);
        }
        .spoiler-header__arrow{
            transform: scale(-1);
            svg{
                path{
                    stroke: var(--expert-color); 
                }
            }
        }
    }
}
.spoiler__body{
    display: none;
    border-top: 1px solid var(--dark);
    padding: 2.9rem 0;
    font-size: 1.6rem;
    line-height: 1.6;
    
    &>*:not(:first-child){
        margin-top: 2rem;
    }
} 
.lesson-spoiler{
    color: var(--dark);
    &:not(:last-child){
        margin-bottom: 2rem;
    }
    .spoiler__header{
        &>.spoiler-header__chicken-icon{
            flex-shrink: 0;
             display: inline-block;
             margin-right: 2.1rem;
             width: 2.4rem;
             height: 2.4rem;
             mask: url(../img/chicken-icon.svg) no-repeat center center;
             mask-size: contain;
             background-color: var(--lawyer-color);

        }
    }
    &--futures{
        .spoiler__header{ 
            &>.spoiler-header__chicken-icon{ 
                background-color: var(--light-dark); 
           }
        }
    }
    &--completed{
        .spoiler__header{ 
            &>.spoiler-header__chicken-icon{ 
                background-color: var(--success-color); 
           }
        }
    } 
   

}
.section-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    .section-header__bold-link{
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 600;
        color: var(--expert-color);
        text-decoration: none;
        transition: var(--great-transition);
        &:hover{
            text-decoration: none;
            color: var(--lawyer-color);
        }

    }
}
.next-lesson-notification{
    padding: 2rem 3rem;
    background-color: #FDEBD0;
    border: 1px solid var(--lawyer-color);
    font-size: 1.8rem;
    font-weight: 500; 
    line-height: 1.3;
    text-align: center;
    color: var(--dark);
    box-sizing: border-box;
}
.review-card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    padding: 3rem;
    padding-bottom: 4.3rem;
    background-color: var(--light);
    color: var(--dark); 
    box-sizing: border-box; 
    .review-card__header{
        position: relative;
        margin-bottom: 2.6rem;
        .review-card-header__decor-elem{
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            margin-right: 1.7rem;
            background-color: var(--expert-color);
            border-radius: 50% 50% 0 50%;
            width: 6rem;
            height: 6rem;
            font-size: 2rem;
            line-height: 1;
            color: var(--light);
            font-weight: 500;
        }
        .reviews-section__name{
            position: relative;
            display: block;
            margin-bottom: 0.8rem;
            padding-top: 1rem;
            font-size: 1.8rem;
            line-height: 1.2;
            font-weight: 500;
            overflow: hidden;
        }
        .reviews-section__course{
            position: relative;
            display: block;
            
            font-size: 1.4rem;
            line-height: 1.6;
            overflow: hidden;
        }
    }
    .review-card__body{
        // margin-top: auto;
        padding: 0 0.7rem;
        box-sizing: border-box;
        .review-card__text{
            position: relative;
            margin: 1.6rem 0;
            height: 13.9rem; 
            overflow: hidden;
            transition: var(--great-transition);
        }
        .review-card__show-comment-btn{
            position: relative;
            display: inline-block; 
            margin-top: 1.7rem;
            font-size: 1.6rem;
            line-height: 1;
            background-color: transparent;
            padding: 0;
            color: var(--expert-color);
            text-decoration: none;
            svg{
                position: absolute;
                width: 100%;
                bottom: -14px;
                left: 0;
                width: 0;
                transition: all 100ms ease;
            }
            &:hover{
                text-decoration: none;
                svg{
                    width: 100%
                }
            }
        }

    }
    .review-card__star-trak{
        display: flex; 
        svg{
            &:not(:last-child){
                margin-right: 0.73rem;
            }
        }
    }
} 
 
.scanbox{
    position: relative;
    display: block;
    // aspect-ratio: 1/1;
    box-sizing: border-box;
    padding-top: 100%;
    cursor: pointer;
    img{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dark);
        opacity: 0;
        transition: var(--great-transition);
        z-index: 1;
    }
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 9.6rem;
        height: 9.6rem;
        background-image: url(../img/loupe-light.svg);
        // background-image: url(../img/loupe-bg.svg); 
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 300ms ease 150ms;
        z-index: 2;
    }
    &:hover{
        &::before{ 
            opacity: 0.7;
            transition: var(--great-transition);
        }
        &::after{ 
            opacity: 1; 
        }
    }
}

.expertise-type-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
}
.expertise-type-item{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 4rem;
    background-color: var(--expert-color);
    box-sizing: border-box;
    transition: var(--great-transition);
    color: var(--light);
    text-decoration: none;
    .expertise-type-item__caption{
        display: block;
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: 600;
    }
    img{
        position: absolute;
        display: block;
        right: 4rem;
        bottom: 2.6rem;
        width: 10rem;
        height: 10rem;
    }
    svg{
        margin-top: auto;
    }
    &:hover{
        
        background-color: var(--lawyer-color);
    }
}



.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    li{
        position: relative;
        &:not(:last-child){
            &::after{
                position: absolute;
                display: flex;
                align-items: center;
                top: 58%;
                right: -2rem; 
                content: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.72925 2.2L6.44592 4.91667C6.76675 5.2375 6.76675 5.7625 6.44592 6.08333L3.72925 8.8' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                width: 1rem;
                height: 1rem;
                transform: translateY(-50%); 
                line-height: 1rem; 
            }
        }
        
        &:not(:last-child){
            margin-right: 3rem;
        }
        span, a{
            font-size: 1.4rem;
            line-height: 1.2;
            font-weight: 500; 
            color: var(--light);
            opacity: 0.6;
        }
        a{
            transition: var(--great-transition);
            text-decoration: none;
            &:hover{
                opacity: 1;
                text-decoration: none;
            }
        }
    }
}

.bedsheet{
    background-color: var(--light); 
    padding: 8rem 4%; 
    box-sizing: border-box;
    *{
        &:first-child{
            margin-top: 0 !important;
        }
        &:last-child{
            margin-bottom: 0 !important;
        }
    }
    h3, .h3, h4, .h4, h5, .h5{
        margin: 4rem 0;
    }
    b{
        font-weight: 500;
    }
    p, .team-help, ul{
        margin: 2rem 0;
    }
    &--dark-text{
        color: var(--dark);
    }
    &--min{
        padding: 4rem 3.6%; 
        h3, .h3, h4, .h4, h5, .h5{
            margin: 3rem 0;
        }
        ul{
            margin: 3rem 0;
        }
    }
}

.team-help{
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    background-color: var(--bg-color);
    box-sizing: border-box;
    .team-help__img{
        flex-shrink: 0;
        margin-right: 4rem;
        width: 10rem; 
        height: auto;
    }
    .team-help__caption{
        color: #000000;
        line-height: 1.4;
    }
}

.reward{
    display: flex;
    align-items: flex-start;
    padding: 3rem 4rem;
    box-sizing: border-box;
    &--lawyer{
        background-color: var(--lawyer-color);
    }
    &--expert{
        background-color: var(--expert-color);
    }
    .reward__img{
        flex-shrink: 0;
        display: block;
        width: 8rem; 
        height: auto;
        margin-right: 4rem;
    }
    .reward__text-box{
        flex-grow: 1;
    }
    .reward__caption{ 
        display: block;
        color: var(--light);
    }
    .reward__description{
        display: block;
        margin-top: 1rem;
        color: var(--light);
        font-size: 1.6rem;
        line-height: 1.4;
        font-weight: 300;
    }
}
.authors-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
}
.author{
    position: relative;
    // aspect-ratio: 7/10;
    padding-top: 142%;
    box-sizing: border-box;
    img{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
    }
    .author__text-box{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 3rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: var(--great-transition);
        box-sizing: border-box;
    }
    .author__trigger{
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    .author__position{
        padding: 0.7rem 1rem;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 500;
        color: var(--light);
        text-transform: lowercase;
        box-sizing: border-box;
        transition: var(--great-transition); 
    }
    .author__name{
        padding: 0.7rem 1rem;
        font-size: 1.6rem;
        line-height: 1.4;
        font-weight: 500;
        color: var(--light);
        box-sizing: border-box;
        margin-bottom: 0.5rem;
        transition: var(--great-transition); 
    }
    .author__description{ 
        // display: none;
        display: block;
        position: relative;  
        width: 100%;
        max-height: 75%;
        height: 0%;
        padding: 0 1rem;
        font-size: 1.4rem;
        line-height: 1.4;
        color: var(--light);
        opacity: 0;
        transition: all 300ms ease;  
        z-index: 6;
        p:not(first-child){
            padding-top: 1rem;
        }
        .simplebar-track.simplebar-vertical{
            width: 3px;
        }
        .simplebar-scrollbar{
            background-color: var(--light);
        }
    }
    &--expert{
        .author__text-box{
            background-color: rgba(62, 83, 203, 0);
        }
        .author__position, .author__name{
            background-color: var(--expert-color);
        }
        &:hover{
            .author__text-box{
                background-color: rgba(62, 83, 203, 0.8);
            }
            .author__position, .author__name{
                background-color: rgba(62, 83, 203, 0);
            }
        }
    }
    &--lawyer{
        .author__text-box{
            background-color: rgba(246, 159, 19, 0);
        }
        .author__position, .author__name{
            background-color: var(--lawyer-color);
        }
        &:hover{
            .author__text-box{
                background-color: rgba(246, 159, 19, 0.8);
            }
            .author__position, .author__name{
                background-color: rgba(246, 159, 19, 0);
            }
        }
    }
    &--builder{
        .author__text-box{
            background-color: rgba(74, 74, 94, 0); 
        }
        .author__position, .author__name{
            background-color: var(--text-color);
        }
        &:hover{
            .author__text-box{
                background-color: rgba(74, 74, 94, 0.8); 
            }
            .author__position, .author__name{
                background-color: rgba(74, 74, 94, 0); 
            }
        }
    }
    &:hover{
        .author__text-box{
        } 
        .author__description{
            height: 100%;
            // height: auto;
            opacity: 1;
        }
    }
}

.scanbox-gallery{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
}
.sticky-box{
    position: sticky;
    top: 1rem;
}
.fly-box{
    position: sticky;
    top: 1rem;
    max-width: 349px;
    padding: 3rem;
    background-color: var(--light);
    box-sizing: border-box;
    .fly-box__caption{
        display: block;
    }
    .fly-box__under-caption{
        display: block;
        margin-top: 2rem;
        font-size: 1.6rem;
    }
    .btn{
        margin-top: 3rem;
    }
}

.thick-and-thin{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    .thick-col{
        font-size: 2rem;
        font-weight: 600;
        *:first-child{
            margin-top: 0;
        }
        *:last-child{
            margin-bottom: 0;
        }
        
    }
    .thin-col{
        *:first-child{
            margin-top: 0;
        }
        *:last-child{
            margin-bottom: 0;
        }
    }
}

.visual-link-grid{
    display: grid;
    grid-gap: 2rem;
    &--four-col{
        grid-template-columns: repeat(4, 1fr);
    }
}  
.visual-link{
    position: relative;
    // aspect-ratio: 1.5/1;
    padding-top: 66%;
    box-sizing: border-box;
    overflow: hidden;
    .visual-link__img{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: var(--great-transition);
        transform: scale(1);
    }
    .visual-link__text{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: 2rem;
        padding-right: 12%;
        background-color: rgba(22, 22, 36, 0.4);
        color: var(--light);
        box-sizing: border-box;
        transition: var(--great-transition);
        .visual-link__title{
            display: block;
            font-size: 1.6rem;
            line-height: 1.4;
            font-weight: 600;
        }
        .visual-link__subtitle{
            display: block;
            margin-top: 4px;
            font-size: 1.2rem;
            line-height: 1.4;
            font-weight: 600;
        }
    } 
    &:hover{
        .visual-link__img{
            transform: scale(1.05);
        }
        .visual-link__text{
            background-color: rgba(22, 22, 36, 0.7);
        }
    }
    &--no-img{
        .visual-link__text{
            background-color: var(--bg-color);
            color: var(--expert-color);
        }
        &:hover{
            .visual-link__img{
                transform: scale(1);
            }
            .visual-link__text{
                color: var(--lawyer-color);
                background-color: var(--bg-color);
            }
        }
    }
}
.sticky-elem{
    position: sticky;
    top: 1rem;

} 
.anchor-menu{
    background-color: var(--light);
    margin: 0;
    li{
        padding: 1.8rem 3rem;  
        box-sizing: border-box;
        &:not(:last-child){
            border-bottom: 1px solid var(--bg-color);
            margin-bottom: 0;
        }
        a{
            color: var(--text-color);
            text-decoration: none;
            transition: var(--great-transition);
            font-size: 15px;
            line-height: 1.2;
            font-weight: 500;
            &:hover{
                color: var(--expert-color);
            }
        }
        &::before{
            opacity: 0;
            visibility: 0;
            width: 0;
            height: 0;
        }
    }
}

.great-video-box{
    position: relative;
    // aspect-ratio: 358/199;
    padding-top: 55.58%;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    *{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    } 
    .play-btn{
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: 50%;
        left: 50%;
        background-color: transparent;
        transform: translate(-50%, -50%);
        transition: var(--great-transition);
        opacity: 1;
        svg{
            path{
                transition: var(--great-transition);
            }
        }
        &:hover{
            svg{
                path{
                    fill: var(--lawyer-color);
                    &:first-child{
                        stroke: var(--lawyer-color);
                    }
                }
            }
        }
    }
    &--play{
        .play-btn{
            opacity: 0;
        }
    }
}

.file-list{
    padding-left: 0 !important;
    li{
        &::before{
            display: none;
        }
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        &.removing{
            transform: scale(0);
            // transform-origin: center center;
            transition: var(--great-transition);
        }
    }
}

.file-link{
    position: relative;
    display: inline-block; 
    text-decoration: none;
    padding-right: 1.5rem;
    box-sizing: border-box;
    &::after{
        content: '';
        display: table;
        width: 100%;
        clear: both;
    }
    .file-link__icon-box{
        float: left;
        display: flex;
        width: 4.4rem;
        height: 4.4rem;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
        border-radius: 4px;
        margin-right: 1.6rem;
        overflow: hidden;
        svg{
            width: 2.4rem;
            height: auto;
            path{
                fill: var(--expert-color);
                transition: var(--great-transition);
            }
        }
        .mask-icon{
            display: block;
            background-color: var(--expert-color);
            width: 2.4rem;
            height: 2.4rem;
            mask: url(../img/file-icon.svg) no-repeat center center;
            mask-size: contain;
        }
    }
    .file-link__description{
        position: relative;
        display: block;
        font-size: 1.4rem; 
        line-height: 1.4;
        overflow: hidden;
    }
    .file-link__caption{
        display: block;
        color: var(--expert-color);
        transition: var(--great-transition);
        font-weight: 500; 
    }
    .file-link__size{
        color: var(--text-color);
    } 
    .file-link__remove-btn{
        position: absolute;
        top: -3px;
        right: -3px;
        width: 1.2rem;
        height: 1.2rem;
        background-color: transparent;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--expert-color);
            transform: translateY(-50%) rotate(45deg);
            transition: var(--great-transition);
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--expert-color);
            transform: translateY(-50%) rotate(-45deg);
            transition: var(--great-transition);
        }
        &:hover{
            &::before{ 
                background-color: var(--lawyer-color);
            }
            &::after{ 
                background-color: var(--lawyer-color);
            }
        }
    }
}
a.file-link{
    padding-right: 0;
}
a.file-link:hover{
    .file-link__icon-box{
        svg{
            path{
                fill: var(--lawyer-color);
            }
        }
        .mask-icon{
            background-color: var(--lawyer-color);
        }
    }
    .file-link__caption{
        color: var(--lawyer-color);
        text-decoration: underline;
    }
}

.testing-indicator{
    display: flex; 
    justify-content: center;
    padding: 1.6rem;
    border-radius: 4px;
    background-color: #E1F4E3;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--dark);
    font-weight: 700;
    box-sizing: border-box;
    svg{
        margin-right: 1rem;
    }
}

.attention-elem{
    display: flex;
    align-items: flex-start;
    padding: 1.5rem 2rem;
    background-color: rgba(246, 20, 20, 0.102);
    border-radius: 4px;
    box-sizing: border-box;
    .attention-elem__icon{
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        margin-right: 1.5rem;
        svg{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
    .attention-elem__text{
        flex-grow: 1;
        line-height: 1.4;
    }
}
.columns-box{
     display: grid;
     grid-gap: 4rem;
     &--two-col{
        grid-template-columns: repeat(2, 1fr);
     }
}

.contacts-card{
    padding: 4rem;
    background-color: var(--light);
    // color: var(--dark);
    box-sizing: border-box;
    .contacts-card__title{
        margin-bottom: 3rem;
    }
    b{
        font-weight: 600;
    }
    ul{
        li{
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }
}
.sort-link-list{
    position: relative;
    display: flex;
    align-items: center;
    .sort-link-list__label{
        margin-right: 1rem;
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: 500;
    }
    .sort-link-list__value{ 
        position: relative;
        display: flex;
        align-items: center;
        background-color: transparent;
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: 500;
        color: var(--dark);
        &::after{
            content: '';
            position: relative;
            top: 1px;
            display: block;
            margin-left: 4px;
            width: 1.2rem;
            height: 1.2rem;
            background-image: url(../img/mini-arrow-down.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            transition: var(--great-transition);
            transform: scale(1);
        }
    }
    .sort-link-list__values{
        position: absolute;
        top: 110%;
        right: 0;
        min-width: 181px;
        background-color: var(--light);
        border: 1px solid #ddd;
        transform: scaleY(0);
        transform-origin: center top;
        opacity: 0;
        visibility: hidden;
        transition: var(--great-transition);
        li{
            a{
                display: block;
                background-color: var(--light);
                padding: 1rem;
                font-size: 1.6rem; 
                color: var(--dark);
                text-decoration: none;
                box-sizing: border-box;
                transition: var(--great-transition);
                &:hover, &.active{
                    background-color: var(--bg-color);
                }
            }
        } 
    }
    &.active{
        .sort-link-list__value{
            &::after{
                transform: scale(-1);
            }
        }
        .sort-link-list__values{
            transform: scaleY(1);
            opacity: 1;
            visibility: visible;
        }
    }
}

.course-statuses-step{
    &:not(:last-child){
        margin-bottom: 10rem;
    }
}

.course-status{
    background-color: var(--light);
    padding: 3rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    &:not(:first-child){
        margin-top: 3rem;
    }
    .course-status__header{
        display: flex;
        margin-bottom: 1.5rem;
    }
    .course-status__direction{
        padding: 0.7rem 1rem;
        background-color: var(--text-color);
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 600;
        color: var(--light);

    }
    .course-status__status-marker{
        margin-left: auto;
        padding: 0.7rem 1rem; 
        background-color: var(--text-color);
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 600;
        color: var(--light);
        &--green{
            background-color: rgba(23, 190, 40, 0.10);
            color: var(--success-color);
        }
        &--red{
            background-color: rgba(246, 20, 20, 0.10); 
            color: var(--alert-color);
        }
        &--blue{
            background-color: var(--bg-color); 
            color: var(--expert-color);
        }
    }
    .course-status__course-name{
        display: block;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.6;
        text-decoration: none;
        color: var(--dark);
        transition: var(--great-transition);
        &:hover{
            text-decoration: none;
        }
    }
    .course-status__main{
        display: flex;
        gap: 4%;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--light-dark);
    }
    .course-status__cell {
        
    }
    a{
        transition: var(--great-transition);
        text-decoration: none;
    }
    &--lawyer{
        .course-status__direction{
            background-color: var(--lawyer-color);
        }
        a{
            
            &:hover{
                color: var(--lawyer-color) !important;
            }
        }
    }
    &--expert{
        .course-status__direction{
            background-color: var(--expert-color);
        }
        a{ 
            &:hover{
                color: var(--expert-color) !important;
            }
        }
    } 
}

.course-status-sell{
    .course-status-sell__key{
        display: block;
        font-size: 1.1rem;
        line-height: 1.2;
        font-weight: 600;
        color: var(--light-dark);
        text-transform: uppercase;
    }
    .course-status-sell__value{
        display: block;
        margin-top: 0.8rem;
        font-size: 1.6rem;
        line-height: 1.22;
        color: var(--dark);
        font-weight: 600;
        a, span{
            display: block;
            font-size: inherit;
            color: inherit;
        }
    }
}

