 
form{
    position: relative;
}
.form-elem {
    position: relative; 
    display: block;
    span, .fly-label {
        position: absolute;
        left: 0;
        top: 48%; 
        padding: 0 2rem;
        box-sizing: border-box;
        font-size: 14px; 
        line-height: 1;
        color: var(--text-color);
        transform: translateY(-50%);
        transition: var(--great-transition);
        cursor: text;
        sup{
            position: relative;
            top: 3px;
            color: var(--alert-color);
        }
    }
    .form-elem__input {  
        display: block;
        width: 100%;
        min-height: 5.6rem;
        padding: 0 2rem;
        border-radius: 4px;
        padding-top: 0.9rem;
        background-color: var(--bg-color);
        font-size: 14px;
        box-sizing: border-box; 

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
            color: transparent !important;
        }
        

        &:focus, 
        &:not(:placeholder-shown) { 
            &~span, &~.fly-label {
               top: 28%;
               font-size: 11px;
            }
        }
        &--error{
            background-color: rgba(226, 77, 94, 0.3);
        }
    }
 
    &.form-elem--textarea{
        span{
            top: 2.3rem;
        }
    }
    .form-elem__textarea {
        display: block;
        width: 100%;
        min-height: 12rem;
        box-sizing: border-box;
        border: 1px solid var(--border);
        background-color: var(--bg-color);
        border-radius: 0.4rem;
        padding: 0 2rem;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
        box-sizing: border-box; 
        font-size: 14px;
        line-height: 1.3; 
        resize: none;

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
            color: transparent;
        }
        

        &:focus, 
        &:not(:placeholder-shown) { 
            &~span {
                top: 1.5rem;
                font-size: 11px;
            }
        }
    }
    &--password{
        .toggle-password-btn{
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            width: 2rem; 
            height: 2rem;
            background-color: transparent;
            svg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                path{
                    stroke: var(--light-dark);
                    transition: var(--great-transition);
                }
            }
            &:hover{
                svg{ 
                    path{
                        stroke: var(--expert-color); 
                    }
                }
            }
            .password-hide-icon{
                opacity: 1;
                visibility: visible;
                transition: var(--great-transition);
            }
            .password-show-icon{
                opacity: 0;
                visibility: hidden;
                transition: var(--great-transition);
            }
            &.show-password{
                .password-hide-icon{
                    opacity: 0;
                    visibility: hidden;
                }
                .password-show-icon{
                    opacity: 1;
                    visibility: visible;  
                }
            }
        }
    }
    // &--date{
    //     .form-elem__input{
    //         padding-right: 5rem;
    //     } 
    //     svg{
    //         position: absolute;
    //         right: 2.4rem;
    //         width: 2.4rem;
    //         height: 2.4rem;
    //         top: 50%;
    //         transform: translateY(-50%);
    //         cursor: pointer;
    //     }
    // } 
    
    // &--active{
    //     & > span {
    //         top: 1.3rem;
    //         font-size: 1.3rem;
    //      }
    // }
    // .form-elem__input {
    //     padding-top: 20px;
    // }

    // .form-elem__textarea {
    //     height: 75px;

    //     &:focus,
    //     &:not(:placeholder-shown) {
    //         &~span {
    //             bottom: 103%;
    //         }
    //     }
    // } 
    
 
}
.form-elem-checkbox{
    position: relative;
    display: flex;
    align-items: center;
    input[type="checkbox"]{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
    i{
        flex-shrink: 0;
        display: block;
        margin-right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 4px;
        border: 1px solid var(--light-dark);
        background-color: var(--bg-color);
        transition: var(--great-transition);  
        box-sizing: border-box;
        
        svg{
            opacity: 0;
            transition: opacity 200ms ease 100ms; 
        }
    }
    input[type="checkbox"]:checked ~ i{
        background-color: var(--lawyer-color);
        border: 1px solid var(--lawyer-color);
        svg{
            opacity: 1;
        }
    }
    .form-elem-checkbox__caption{
        font-size: 1.6rem; 
    }
}
.form-elem-radio{ 
    position: relative;
    display: flex;
    align-items: center;
    input[type="radio"]{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
    i{
        flex-shrink: 0;
        display: block;
        margin-right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: var(--bg-color);
        border: 1px solid var(--light-dark);
        box-sizing: border-box;
        transition: var(--great-transition); 
        svg{
            opacity: 0;
            transition: opacity 200ms ease 100ms; 
        }
    }
    input[type="radio"]:checked ~ i{
        background-color: var(--lawyer-color);
        border: 1px solid var(--lawyer-color);
        svg{
            opacity: 1;
        }
    }
    .form-elem-checkbox__caption{
        font-size: 1.6rem; 
    }
}

.form-panel{ 
    display: flex; 
   
    .form-panel__form {
        position: relative;
        width: 57.19%;
        padding: 7rem 8%;
        background-color: var(--light);
        box-sizing: border-box;
    }
    .form-panel__decor-box{
        position: relative;
        // width: 42.5%;
        width: 42.8%;
        
    }
    .form-panel__decor-elem{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/interferences.jpg);
        transform: translateY(-50%);
    }
    &--finder{
        .form-panel__decor-elem{
            max-height: 540px;
            // height: 100%;
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                right: 7.5%;
                width: 95%;
                aspect-ratio: 617/525;
                background-image: url(../img/dude-seekers.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    &--exp-questions{
        .form-panel__decor-elem{
            max-height: 539px; 
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 119%;
                aspect-ratio: 1.37/1;
                background-image: url(../img/big-loupe.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    } 
    &--stroytech-exp{
        .form-panel__decor-elem{
            max-height: 586px; 
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%; 
                aspect-ratio: 1/1.44;
                background-image: url(../img/stroytech.png);
                background-size: contain;
                max-width: 408px;
                height: 100%;
                background-position: right bottom;
                background-repeat: no-repeat;
            }
        }
    }
    &--electro-exp{
        .form-panel__decor-elem{
            max-height: 586px; 
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                right: 3%;
                width: 100%; 
                aspect-ratio: 267/253;
                background-image: url(../img/multitester.png);
                background-size: contain;
                max-width: 566px;
                height: 100%;
                background-position: right bottom;
                background-repeat: no-repeat;
            }
        }
    }
    &--fire-exp{
        .form-panel__decor-elem{
            max-height: 586px; 
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 102%; 
                aspect-ratio: 122/99;
                background-image: url(../img/fire-helmet.png);
                background-size: contain;
                max-width: 500px;
                height: 100%;
                background-position: right center;
                background-repeat: no-repeat;
            }
        }
    }
}

.form-panel-form{
    .form-panel-form__caption{
        margin-bottom: 3rem;
        color: var(--expert-color);
    }
    p{
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }
    .form-elem{
        margin-bottom: 4rem;
    }
    .form-panel-form__col-box{
        display: grid;
        grid-gap: 4rem;
        .form-elem{
            margin-bottom: 0;
        }
        &--two-col{
            grid-template-columns: repeat(2, 1fr);
        }
    } 
    .form-panel-form__footer{
        display: flex;
        align-items: center;
        margin-top: 5.7rem;
        .btn{
            margin-right: 3.3rem;
            max-width: 15.5rem;
            min-height: 5.4rem;
        }
        .form-panel-form__agreement{
            font-size: 1.4rem;
            line-height: 1.4;
            color: var(--dark);
            a{
                color: var(--expert-color);
                text-decoration: underline; 
                &:hover{
                    text-decoration: none;
                }
            }
        }
    } 
}
.sort-select-label{ 
    display: flex;
    .sort-select-label__caption{
        display: block;
        margin-right: 1rem;
    }
    
    .choices{
        .choices__inner { 
            width: 100%;
            background-color: transparent;
            padding: 0;
            border: none;
            border-radius: 0;
            font-size: 1.6rem;
            min-height: auto;
            overflow: hidden;
            .choices__list--single { 
                padding: 0;
                padding-right: 2rem;
                width: 100%;
            } 
        }
        .choices__list--single {
            .choices__item{
                color: var(--dark);
            }
        }
        &[data-type*=select-one]::after {
            content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.96004 4.4751L6.70004 7.7351C6.31504 8.1201 5.68504 8.1201 5.30004 7.7351L2.04004 4.4751' stroke='%233449B7' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.2rem;
            width: 1.2rem;;
            border-style: solid;
            border-color: transparent;
            border-width: 0;
            line-height: 1;
            padding: 0;
            margin: 0;
            position: absolute;
            right: 0;
            top: 0.9rem;
            pointer-events: none;
            transform-origin: center center;
            transform: scale(1);
            transition: all 100ms ease;
        }
        &.is-open{
            &[data-type*=select-one]::after{
                transform: scale(-1);
            }
        }
        .is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
            border-color: #b7b7b7;
        }
        .choices__list--dropdown{
            right: 0;
            min-width: 181px;
            box-shadow: 8px 12px 0 0 var(--shadow-color);
        }
        .choices__list--dropdown .choices__item, 
        .choices__list[aria-expanded] .choices__item{
            padding: 1rem;
            color: var(--dark);
        }
        .choices__list--dropdown .choices__item--selectable.is-highlighted, 
        .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
            background-color: var(--bg-color);
        }
    }
}
.lonely-input{
    display: block;
    width: 100%;
    height: 5.6rem;
    border: 1px solid var(--light-dark);
    padding: 0 2rem;
    border-radius: 4px;
    box-sizing: border-box;
    transition: var(--great-transition);
    &:focus{
        border: 1px solid var(--lawyer-color); 
    }
}
.lonely-textarea{
    display: block;
    width: 100%;
    height: 15rem;
    border: 1px solid var(--light-dark);
    padding: 1.5rem 2rem;
    border-radius: 4px;
    box-sizing: border-box;
    transition: var(--great-transition);
    resize: none;
    &:focus{
        border: 1px solid var(--lawyer-color); 
    }
}
.form-elem-select {
    position: relative;
    display: flex;
   
    border-radius: 4px;
    
    .choices{
        flex-grow: 1;
        margin-bottom: 0;
        font-size: 14px;
        &[data-type*=select-one]::after{
            width: 10px;
            height: 10px;
            background-color: var(--expert-color);
            border: none;
            margin-top: 0;
            mask: url(../img/mini-arrow-down.svg) no-repeat center center;
            transform: translateY(-50%);
            transition: var(--great-transition); 
        }
        
        &.is-open{
            &[data-type*=select-one]::after{
                transform: translateY(-50%) scale(-1);
            }
        }
    }
 
    .choices__inner{
        min-height: 5.6rem;
        box-sizing: border-box;
        border: none;
        background-color: var(--bg-color); 
    }
    .form-elem__caption {
        display: none;
    } 
    &.form-elem-select--float-caption {
        .choices__placeholder {
            opacity: 0;
        }
        .choices__item{
            &:hover{
                background-color: var(--bg-color);
            }
            &::after{
                display: none;
            }
        }
        .choices__list--dropdown{
            .choices__list{
                .choices__item{
                    &:first-child{
                        display: none;
                    }
                }
            }
        }
        .choices__list--dropdown .choices__item--selectable, 
        .choices__list[aria-expanded] .choices__item--selectable{
            padding-right: 3rem;
        }
        .choices__list--dropdown, 
        .choices__list[aria-expanded]{
            box-sizing: border-box;
        }
        &.form-elem--active {
            .form-elem__caption {
                display: block;
                font-size: 1.2rem;
                color: var(--grey);
                top: 1.5rem;
            }
        }

        .choices .choices__list--single {
            position: relative;
            top: 1rem;
            padding-left: 1rem;
            box-sizing: border-box;
        }

        .form-elem__caption {
            position: absolute;
            left: 0;
            top: 50%;
            display: block;
            width: auto;
            padding: 0 2rem;
            font-size: 14px;
            line-height: 1;
            transform: translateY(-50%);
            box-sizing: border-box;
        }
    } 
}
// ----------------------------------
.course-form{ 
    width: 100%;
    background-color: var(--light);
    padding: 3rem;
    box-sizing: border-box;
    .course-form__caption{ 
    }
    .course-form__info-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
        flex-wrap: wrap;
        margin-top: 4rem;
       margin-bottom: 4rem;
        .course-card-info-list__item{
            &:not(:last-child) {
                margin-right: 0;
            }
            .course-card-info-list-item__value{
                font-size: 2rem;
            }
            &:last-child{
                .course-card-info-list-item__value{
                    font-size: 3rem;
                }
            }
        }
    } 
    .form-elem {
        margin-bottom: 2rem;
    }
    input[type="submit"]{
        margin-top: 4rem;
    }
    .course-form__agreement{
        display: block;
        margin-top: 2rem;
        font-size: 1.3rem;
    }
}
.switch-checkbox-label{
    display: flex;
    align-items: center;
    .switch-checkbox-label__caption{
        margin-right: 1.2rem;
    }
}

.switch-checkbox{
    position: relative;
    width: 4.8rem;
    height: 2.4rem;
    border-radius: 4rem;
    padding: 0.4rem 0.5rem;
    border: 1px solid var(--dark);
    box-sizing: border-box;
    cursor: pointer;
    transition: var(--great-transition);
    &::after{
        content: '';
        display: table;
        width: 100%;
        clear: both;
    } 
    input{
        display: none;
    }
    i{  
        float: left;
        display: block; 
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%; 
        background-color: var(--dark);
        transition: var(--great-transition);
    }
    input:checked ~ i{
        float: right;
    }
    &:hover{
        border: 1px solid var(--lawyer-color);
        i{
            background-color: var(--lawyer-color);
        }
    }
}
.form-error-box{   
    box-sizing: border-box;
    font-size: 1.4rem;
    line-height: 1.2;
    color: var(--alert-color);
}
// ----------------------------------
// ----------------media----------------------

@media screen and (max-width: 1320){
    .form-panel {
        .form-panel__form { 
            width: 57.19%;
            padding: 6rem 5%; 
        }
    }
    .form-panel-form {
        .form-elem{
            margin-bottom: 3rem;
        }
        .form-panel-form__col-box {
            display: -ms-grid;
            display: grid;
            grid-gap: 3rem;
        }
    }
}
@media screen and (max-width: 1200px){
    .form-panel .form-panel__form {
        position: relative;
        width: 57.19%;
        padding: 4.2rem 4%;
        background-color: var(--light);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-panel--finder {
        .form-panel__decor-elem{
            &::before { 
                right: -4.5%;
                width: 110%; 
            }
        }
    } 
    .form-panel-form{
        .form-panel-form__col-box--two-col { 
            grid-template-columns: repeat(1,1fr);
        }
        .form-panel-form__footer { 
            display: block; 
            margin-top: 4rem;
            .btn{
                max-width: 100%;
                margin-bottom: 2.2rem;
            }
            .form-panel-form__agreement { 
                line-height: 1.2; 
            }
        }
    }  
}
@media screen and (max-width: 1100px){
    .form-panel--exp-questions .form-panel__decor-elem::before { 
        right: -5%;
        width: 113%;  
    }
}
@media screen and (max-width: 999px){
    .form-panel {
        .form-panel__form {
            z-index: 1;
            .form-panel-form__caption {
                margin-bottom: 3rem; 
            }
        }
    } 
    .form-panel--electro-exp .form-panel__decor-elem::before { 
        width: 94%; 
    }
    .form-panel--fire-exp .form-panel__decor-elem::before { 
        width: 97%; 
    }
} 
@media screen and (max-width: 800px){
    .form-panel--finder {
        .form-panel__decor-elem::before {
            right: -4.5%;
            width: 115%;
        }
    }
}

@media screen and (max-width: 660px){
    .form-panel { 
        flex-direction: column;
        .form-panel__decor-box{
            order: -1;
            width: 100%;
            .form-panel__decor-elem {
                position: relative;
                display: block;
                height: 172px;
                transform: translateY(0);
                top: 0; 
                &::before {
                    right: 50%;
                    width: 242px;
                    transform:translateX(50%);
                }
            }
        }
        .form-panel__form{
            width: 100%;
            padding: 2.2rem;
        }
        .form-panel__form{
            .form-panel-form__caption {
                margin-bottom: 2rem;
            } 
        }
    }
 
    .form-panel-form {
        .form-elem {
            margin-bottom: 2.2rem;
        }
        .form-panel-form__col-box{
            grid-gap: 2.2rem;
        }
        p {
            margin-bottom: 2rem;
            font-size: 1.6rem;
        }
        .form-panel-form__footer {
            display: block;
            margin-top: 2.2rem;
        }
    }

    .form-panel.form-panel--exp-questions .form-panel__decor-box .form-panel__decor-elem::before {
        right: 50%;
        max-width: 311px;
        width: 100%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    .courses-catalog-filter {
        .courses-tab-control .btn:not(:last-child) {
            margin-right: 5px;
        }
    }
    .form-panel.form-panel--stroytech-exp  .form-panel__decor-box .form-panel__decor-elem{
        overflow: hidden;
        &::before{
            right: 0;
            transform: translateX(0);
        }
    }
    .form-panel--electro-exp .form-panel__decor-elem::before{
        height: 94%;
    } 
    .form-panel.form-panel--fire-exp .form-panel__decor-box .form-panel__decor-elem{
        overflow: hidden;
        &::before{
            height: 95%;
            width: 100%;
            right: 0;
            bottom: 3px;
            transform: translateX(0);
        }
    }
}

#modal-recovery{
    button[type=submit]{
        margin-top: 2rem;
    }
}

.upload-file-form{
    input[type="file"]{
        display: none;
    }
    .btn-file--upload{
        display: none;
    }
    .file-list{
        li{ 
            margin-top: 2rem;
        }
        li:not(:last-child) {
            margin-bottom: 0;
        }
    }
}