.lc-frame{
    display: flex;
    .lc-frame__left-col{
        flex-shrink: 0;
        min-width: 257px;
        padding-right: 4rem;
        box-sizing: border-box;
        .my-course{
            max-width: 34.8rem;
            .my-course__type { 
                padding: 0.6rem 0.84rem;
            }
            .my-course__progress-list { 
                margin-bottom: 0.5rem;
                font-size: 1.4rem; 
            }
            
        }
    }
    .lc-frame__center-col{
        position: relative;
        flex-grow: 1; 
        padding-right: 8px;
        margin-right: -8px;
        overflow: hidden;
        .spoiler__header{ 
            padding: 2.3rem 0;
        } 
        .spoiler__body{
            &>*{
                margin: 3rem 0;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
            h1, .h1,
            h2, .h2,
            h3, .h3,
            h4, .h4,
            h5, .h5{
                display: block;
                margin-top: 3rem;
                &:first-child{
                    margin-top: 0;
                }
            }
            a.btn{
                min-height: 6rem;
                margin-top: 3rem;
                font-size: 1.6rem; 
            }
            .video-gallery { 
                grid-gap: 2rem;
            }
            .video-box {
                .video-box__container { 
                    aspect-ratio: 1.82/1; 
                    border-radius: 4px;
                    overflow: hidden;
                }
                .video-box__caption{
                    margin-top: 1.5rem;
                    font-size: 1.8rem;
                    color: var(--text-color);
                }
            }
            .upload-file-form{
                margin-top: 3rem;
            }
        }
    }
    .lc-frame__right-col{
        flex-shrink: 0;
        min-width: 38.7rem;
        padding-left: 4rem;
        box-sizing: border-box;
        .fly-box{
            max-width: 34.7rem;
        }
    }
    .bedsheet{
        padding: 4rem;
        color: var(--dark);
        b{
            font-weight: 700;
        }
        .h3, 
        .h4, 
        h3, 
        h4 {
            margin: 3rem 0;
        }
        h5, .h5{
            margin: 2rem 0;
        }
    }
} 

.lc-page-title{
    margin-bottom: 3rem;
    color: var(--dark);
}

.user-personal-data{
    display: flex;
    padding: 4rem;
    margin-bottom: 4rem;
    background-color: var(--light);
    align-items: center;
    box-sizing: border-box;
    .user-personal-data__avatar{
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        color: var(--light);
        font-size: 3rem;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        overflow: hidden;
        &--expert{
            background-color: var(--expert-color);
        }
        &--lawyer{
            background-color: var(--lawyer-color);
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: center;
            object-position: center;
        }
    }
    .user-personal-data__name-box{
        margin-right: 6%;
    }
    .user-personal-data__surname,
    .user-personal-data__name{
        font-size: 1.8rem;
        line-height: 1.6;
        color: var(--dark);
        font-weight: 500;
    }
    .user-personal-data__surname{
        display: block;
    }
    .user-personal-data__name{
        display: block;
    }
    .change-password {
        display: block;
        font-size: 1.4rem;
        margin-top: 2px;
        line-height: 1.6;
        color: var(--expert-color);
        text-decoration: none;
        transition: var(--great-transition);
        &:hover{
            color: var(--lawyer-color);
        }
    }
    .user-personal-data__contact-box{
        margin-left: 7%;
    }
}

.user-personal-data-contact-box{
    .user-personal-data-contact__key{
        display: block;
        font-size: 1.4rem;
        line-height: 1.6;
        font-weight: 500;
        color: var(--text-color-alt);
    }
    .user-personal-data-contact__value{
        display: block;
        margin-top: 0.5rem;
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: 500;
        color: var(--dark);
        white-space: nowrap;
    }
}

.lc-h4{
    margin-bottom: 2rem;
}


.notification{
    padding: 4rem;
    background-color: var(--light);
    box-sizing: border-box;
    .notification__header{
        display: flex; 
        margin-bottom: 1rem;
        .notification__date{
            display: block;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1;
            color: var(--expert-color);
            white-space: nowrap;
            margin-right: 1rem;
        }
        .notification__lantern-of-freshness{
            display: block;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            background-color: var(--expert-color);
            margin-left: auto;
        }
    }
    
    .notification__title{
        margin-top: 0;
        margin-bottom: 1rem;
        max-width: 106.2rem;
    }
    .notification__text{
        color: var(--dark);
        max-width: 106.2rem;
        *:not(:first-child){
            margin-top: 1rem;
        }
    }
}
.course-paremeters{
    display: flex;
    gap: 4rem;
    li{

    }
    .course-paremeters__key{
        display: block; 
        font-size: 1.1rem;
        line-height: 1;
        font-weight: 600;
        color: var(--light-dark);
        text-transform: uppercase;
    }
    .course-paremeters__value{
        display: block;
        margin-top: 0.8rem;
        font-size: 1.8rem;
        line-height: 1.22;
        color: var(--dark);
        font-weight: 600;
    }
}

.my-course-continue{
    display: flex;
    align-items: center;
    width: 100%;
    .my-course-continue__caption{
        display: block;
        margin-right: 1rem;
        font-size: 1.6;
        line-height: 1.4;
        color: var(--dark);
        font-weight: 500;
    }
    .my-course-continue__link{ 
        flex-shrink: 0;
        margin-left: auto;
        width: 3.5rem;
        height: 3.5rem;
        mask: url(../img/arrou-right-icon.svg) no-repeat center center;
        mask-size: contain;
        background-color: var(--text-color);
        font-size: 0;
        transition: var(--great-transition);
        &:hover{
            background-color: var(--lawyer-color);
        }
    }
}
.countdown{
    .countdown__key{
        display: block;
        font-size: 1.4rem;
        line-height: 1.2;
        color: var(--text-color); 
    }
    .countdown__value{
        display: block;
        margin-top: 0.8rem;
        font-size: 2.4rem;
        line-height: 1.22;
        font-weight: 600;
        color: var(--expert-color);
    }
}


.my-course {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
    background-color: var(--light);
    color: var(--dark);
    box-sizing: border-box;
    .my-course__header{
        display: flex;
        width: 100%;
        gap: 5px;
        margin-bottom: 1rem;
        .my-course__status{
            margin-left: auto;
        }
    }
    .my-course__status{ 
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 600; 
        padding: 0.8rem 1rem;
        box-sizing: border-box;
        &--success{
            color: var(--success-color);
            background-color: rgba(23, 190, 40, 0.1);
        }
        &--alert{
            color: var(--alert-color);
            background-color: rgba(246, 20, 20, 0.1);
        }
        &--normal{
            color: var(--expert-color);
            background-color: var(--bg-color);
        }
        &--expectation{
            color: var(--lawyer-color);
            background-color: rgba(246, 159, 20, 0.2);
            
        }

    }

    .my-course__type { 
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 600;
        color: var(--light);
        padding: 0.8rem 1rem;
        box-sizing: border-box;
    }
    .my-course__description{
        margin-bottom: 2.4rem;
        font-size: 1.4rem;
        line-height: 1.6;
        color: var(--light-dark);
        font-weight: 400;
    }
    .my-course__title{
        margin-bottom: 1rem;
    }
    .decor-line{
        height: 1px;
        width: 100%;
        background-color: var(--light-dark);
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
    }
    .my-course__progress-box{
        margin-top: auto;
        width: 100%; 
        margin-bottom: 2rem;
    }
    .my-course__progress-list{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
        line-height: 1.4;
        li{
            margin-bottom: 0.5rem;
            &:not(:last-child){
                margin-right: 2rem;
            }
        }
        b{
            font-weight: 700;
        }
        
    }
    .my-course__footer{
        display: flex;
        align-items: center;
        gap: 1.6rem;
        width: 100%;
        .btn--to-pay{
            flex-shrink: 0;
            max-width: 15rem;
            min-height: 5rem;
        }
    }
    .my-course__footer-text{
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        line-height: 1.2;
        color: var(--text-color);
        a{
            position: relative;
            display: inline-block;
            text-decoration: none;
            transition: var(--great-transition);
            svg{
                position: absolute;
                top: 110%;
                left: 0;
                path{
                    transition: var(--great-transition);
                }
            }
            &:hover{
                color: var(--lawyer-color);
                svg{
                    path{
                        fill: var(--lawyer-color);
                        stroke: var(--lawyer-color);
                    }
                }
            }
        }
    }
    &--lawyer{
        .my-course__type{
            background-color: var(--lawyer-color);
        }
        .my-course-progress-bar{ 
            .my-course-progress-bar__indicator{ 
                background: repeating-linear-gradient(
                -55deg,
                #F69F13,
                #F69F13 10px,
                #F8AF3B 10px,
                #F8AF3B 20px
                );
            }
        } 
    } 
    &--expert{
        .my-course__type{
            background-color: var(--expert-color);
        }
        .my-course-progress-bar{ 
            .my-course-progress-bar__indicator{ 
                background: repeating-linear-gradient(
                -55deg,
                #3449B7,
                #3449B7 10px,
                #5768C3 10px,
                #5768C3 20px
                );
            }
        }
        .my-course-continue{
            .my-course-continue__link{
                &:hover{
                    background-color: var(--expert-color);
                }
            }
        } 
    }
}
 
.my-course-progress-bar{
    position: relative;
    height: 10px;
    border-radius: 3px;
    background-color: var(--bg-color);
    width: 100%;
    .my-course-progress-bar__indicator{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 3px;
    }
}


.course-leaflet{
    position: relative;
    display: flex;
    flex-direction: column; 
    padding: 5rem;
    padding-right: 32%;
    color: var(--light);
    box-sizing: border-box;
    .course-leaflet__title{
        max-width: 68.5rem;
        color: var(--light);
    }
    .course-leaflet__desctiption-box{
        max-width: 68.5rem;
        margin-top: 1.6rem;
        margin-bottom: 2.5rem;
        *{
            font-size: 1.5rem;
            line-height: 1.6;
        }
        *:not(:first-child){
            margin-top: 1rem;
        }
    }
    .course-leaflet__parametr-list{
        margin-top: auto;
        display: flex;
        .course-leaflet__parametr{
            margin-bottom: 1.5rem;
            &:not(:last-child){
                margin-right: 7%;
            }
        }
    }
    
    .btn{
        margin-top: 1.5rem;
        max-width: 14.5rem;
    }
    &--lawyer{
        background-image: url(../img/lawyer-banner-bg.png);
        .btn--light{
            color: var(--lawyer-color);
        }
    } 
    &--expert{
        background-image: url(../img/expert-banner-bg.png);
        .btn--light{
            color: var(--expert-color);
        }
    }
    &--femida{
        &::after{
            content: '';
            position: absolute;
            max-width: 400px;
            width: 40%;
            height: 94%;
            right: 2%;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center bottom;
            background-image: url(../img/femida.png);
        }
    }
    &--expert-course{
        &::after{
            content: '';
            position: absolute;
            max-width: 455px;
            width: 36%;
            height: 94%;
            right: -2px;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center bottom;
            background-image: url(../img/plan-helm.png);
        }
    }
} 

.course-leaflet-parametr{  
    .course-leaflet-parametr__key{
        display: block;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1;
        font-weight: 700;
    }
    .course-leaflet-parametr__value{
        margin-top: 0.9rem;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
    }
}
.lc-control-panel{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    .link-back{
        margin-right: 2rem;
    }
    .switch-checkbox-label{
        margin-left: auto;
    }
}
.link-back{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.1;
    color: var(--text-color);
    text-decoration: none;
    transition: var(--great-transition);
    svg{
        width: 3rem;
        height: 3rem;
        margin-right: 1.8rem;
        path{
            fill: var(--text-color);
            transition: var(--great-transition);
        }
    }
    &:hover{
        color: var(--lawyer-color);
        svg{
            path{
                fill: var(--lawyer-color);
            }
        }
    }
}

.test-bedsheet{
    padding: 4rem;
    background-color: var(--light);
    box-sizing: border-box;
}
.test-hall {
    color: var(--dark);
    .test-hall__title{
        margin-bottom: 4rem;
    }
    p{
        margin: 1.5rem 0;
        font-size: 1.6rem;
        line-height: 1.4;
    }
    .btn{
        margin-top: 4rem;
    }
}
.lesson-gallery{
    display: grid;
    grid-gap: 2rem;
    .lesson-gallery__item{ 
        display: block;
        margin: 0 !important;
        width: 100%;
        aspect-ratio: 49/65;
        border-radius: 4px;
        object-fit: contain;
        background-color: var(--bg-color);
        object-position: cenetr center;
    }
    &--two-col{
        grid-template-columns: repeat(2, 1fr);
    }
    &--tree-col{
        grid-template-columns: repeat(3, 1fr);
    }
}

.empty-box{
    position: relative;
    padding: 7rem;
    background-color: var(--text-color);
    background-image: url(../img/darkness-bg.png);
    overflow: hidden;
    &::after{
        content: "";
        position: absolute;
        bottom: -11%;
        right: 2%;
        width: 55%;
        max-width: 62.9rem;
        aspect-ratio: 1.16/1;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/justice-dark.png);
    }
    .empty-box__content{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 54rem;
        width: 55%;
        color: var(--light);
        h2{
            margin-bottom: 2rem;
            color: inherit;
        }
        p{
            margin: 2rem 0;
        }
        .btn{
            width: auto;
            padding-right: 3.4rem;
            padding-left: 3.4rem;
        }
        .btn--light{
            margin-top: 6rem;
            color: var(--dark);
        }
    }
}


.star-rating{
    display: flex;
    .star-rating__item{
        flex-shrink: 0;
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}
.star-rating-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    overflow: hidden;
    cursor: pointer;
    input[type="checkbox"],
    input[type="radio"]{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
    }
    .star-rating-item__icon{
        width: 60%;
        aspect-ratio: 1/1;
        mask: url(../img/star.svg) no-repeat center center;
        background-color: var(--light-dark);
        mask-size: contain;
    }
    &.checked{
        .star-rating-item__icon{
            background-color: var(--lawyer-color);
        }
    }
    // input[type="checkbox"]:checked ~ .star-rating-item__icon{
    //     background-color: var(--lawyer-color);
    // }
}

.rate-done-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 21rem); 
}
.rate-done{
    position: relative;
    width: 100%;
    max-width: 1000px;
    background-color: var(--light);
    box-sizing: border-box;
    padding: 8rem;
    color: var(--dark);
    box-sizing: border-box;
    p{
        font-size: 2rem;
        line-height: 1.4;
        margin-top: 2rem;
    }
    .rate-done__btn-box{
        display: flex;
        align-items: flex-start;
        margin-top: 4rem;
        .btn{
            width: auto;
            font-size: 1.6rem;
            &:not(:last-child){
                margin-right: 2rem;
            }
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        width: 30%;
        max-width: 293px;
        aspect-ratio: 1.17/1;
        background-image: url(../img/tablet.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}