.table {
    width: 99.9%;

    td,
    th {

        padding: 5px;
        color: var(--dark);
        font-size: 1.4rem;
        box-sizing: border-box;
    }

    .form-elem-checkbox {
        display: inline-block;
    }
    &--width-auto{
        width: auto;
    }
}
.table-box{
    position: relative;
    overflow: auto;
    &:not(:first-of-type){
        margin-top: 5rem;
    }
}
.choices-mini-wrapper {
    position: relative;
    top: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .choices__inner {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        background-color: transparent;
        padding: 0;
        border: none;
        border-radius: 2.5px;
        font-size: 14px;
        min-height: auto;
        overflow: hidden;
    }
    .choices{ 
        display: inline-block;
        line-height: 1;
        padding: 0;
    }
    .choices__list--single{
        padding: 0;
        padding-right: 2rem;
        box-sizing: border-box;
    }
    .choices[data-type*=select-one] .choices__inner {
        // padding-bottom: 7.5px;
        padding-bottom: 0;
    }
    .choices__list--dropdown .choices__item--selectable::after,
    .choices__list[aria-expanded] .choices__item--selectable::after{
        display: none;
    }
    .choices__list--dropdown, .choices__list[aria-expanded]{
        width: 100px;
    }
    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable{
        padding: 5px;
    }
    .choices[data-type*=select-one]::after{
        right: 0;
    }

}

.table-box-simplebar {
    position: relative;

    .simplebar-track {

        &.simplebar-horizontal {
            margin-top: 5px;
            height: 1.5rem;
            position: relative;

            .simplebar-scrollbar {
                top: 0;
                height: 1.5rem;
                border-radius: 5px;

                &.simplebar-visible {
                    &::before {
                        background-color: var(--text-color);
                        transition: var(--great-transition);
                    }
                }
            }
        }

        &.simplebar-hover {
            .simplebar-scrollbar {
                &.simplebar-visible {
                    &::before {
                        opacity: 1;
                        background-color: var(--text-color);
                    }
                }
            }
        }
    }
    &--lawyer{
        .simplebar-track {

            &.simplebar-horizontal { 
    
                .simplebar-scrollbar { 
    
                    &.simplebar-visible {
                        &::before {
                            background-color: var(--lawyer-color); 
                        }
                    }
                }
            }
    
            &.simplebar-hover {
                .simplebar-scrollbar {
                    &.simplebar-visible {
                        &::before { 
                            background-color: var(--lawyer-color);
                        }
                    }
                }
            }
        }
    }
    &--expert{
        .simplebar-track {

            &.simplebar-horizontal { 
    
                .simplebar-scrollbar { 
    
                    &.simplebar-visible {
                        &::before {
                            background-color: var(--expert-color); 
                        }
                    }
                }
            }
    
            &.simplebar-hover {
                .simplebar-scrollbar {
                    &.simplebar-visible {
                        &::before { 
                            background-color: var(--expert-color);
                        }
                    }
                }
            }
        }
    }
}

.participants-table {
    font-weight: 500;
    th, td{
        text-align: center;
        vertical-align: middle;
    }
    .form-elem-checkbox {
        top: 3px;
        line-height: 1;
    }

    thead {
        tr:first-child {
            th:first-child {
                height: 12.2rem;
            }
        }
    }

    td:nth-child(2),
    td:nth-child(3) {
        white-space: nowrap;
    }
    td:nth-child(2){
        text-align: left;
    }
    &.participants-table-scroll-panel {
        width: auto;
        position: absolute;
        top: 0;
    }
}

.participants-table-scroll-panel {}

.lawyer-table {
    thead {
        tr:nth-child(2n) {
            th {
                background-color: #fbf5eb;
            }
        }

        tr:nth-child(2n + 1) {
            th {
                background-color: #fde1b5;
            }
        }

        tr:first-child {
            th {
                background-color: var(--lawyer-color);
                
            }
        }
    }

    tbody {
        tr:nth-child(2n) {
            td {
                background-color: #fde1b5;
            }
        }

        tr:nth-child(2n + 1) {
            td {
                background-color: #fbf5eb;
            }
        }

        tr {
            td:first-child {
                background-color: var(--lawyer-color); 
            }
        }
    }

    th,
    td {
        border: 1px solid var(--light);
    }
}

.expert-table {
    .form-elem-checkbox input[type=checkbox]:checked~i {
        background-color: var(--expert-color);
        border: 1px solid var(--expert-color);
    }
    thead {
        tr:nth-child(2n) {
            th {
                background-color: #c6d0fd;
            }
        }

        tr:nth-child(2n + 1) {
            th {
                background-color: #91a3ff;
            }
        }

        tr:first-child {
            th {
                background-color: var(--expert-color);
                color: var(--light);
            }
        }
    }

    tbody {
        tr:nth-child(2n) {
            td {
                background-color: #91a3ff;
            }
        }

        tr:nth-child(2n + 1) {
            td {
                background-color: #c6d0fd;
            }
        }

        tr {
            td:first-child {
                background-color: var(--expert-color);
                color: var(--light);
            }
        }
    }

    th,
    td {
        border: 1px solid var(--light);
    }
}
.table-homework-box{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 1.2rem;
    overflow: auto;
    &:not(:last-of-type){
        margin-bottom: 2rem;
    }
}
.table-homework{ 
    font-size: 1.4rem;
    th, td{
        border: 1px solid var(--light);
        color: var(--dark);
        a{
            color: inherit;
        }
    }
    tr:first-child{
        th{
            
        }
    }
    &--lawyer{ 
        thead{
            
            tr:nth-child(2n){
                background-color: #fde1b5; 
            }
            tr:nth-child(2n-1){
                background-color: #fbf5eb;
            }
            tr:first-child{
                background-color: var(--lawyer-color);
            }
        }
        tbody{
            tr:nth-child(2n){ 
                background-color: #fbf5eb;
            }
            tr:nth-child(2n-1){
                background-color: #fde1b5; 
            }
        }
        .bg{
            background-color: var(--lawyer-color);
            font-weight: 600;
        }
    }

    &--expert{ 
        thead{
            
            tr:nth-child(2n){
                background-color: #91a3ff;; 
            }
            tr:nth-child(2n-1){
                background-color: #c6d0fd
            }
            tr:first-child{
                background-color: var(--expert-color);
                color: var(--light);
            }
        }
        
;
        tbody{
            tr:nth-child(2n){ 
                background-color: #c6d0fd;
            }
            tr:nth-child(2n-1){
                background-color: #91a3ff; 
            }
        }
        .bg{
            background-color: var(--expert-color);
            color: var(--light);
            font-weight: 600;
        }
    }
}

.table-schedule{
    th, td{ 
        vertical-align: middle;
        &:not(:nth-child(2)){
            text-align: center;
        }
    }
    th:first-child{
        width: 50px; 
    }
    td:first-child{
        text-align: center;
    }
}

@media screen and (max-width: 1600px){
    .participants-table thead tr:first-child th:first-child {
        height: 12.6rem;
    }
}
@media screen and (max-width: 625px){
   
    .participants-table thead tr:first-child th:first-child {
        height: 12.8rem;
    }
}
@media screen and (max-width: 500px){
    .participants-table-scroll-panel{
        display: none;
    }
}
